/* You can add global styles to this file, and also import other style files */
h2 {
  color: #777;
  text-align: center;
  padding: 1em;
  background: white;
  font-family: "Gill sans", sans-serif;
  width: 80%;
  margin: 0 auto;
}

/*
  Color del Loading
*/
svg path,
svg rect {
  fill: black;
}
